# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Static / Media
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log